{% extends "base.html" %}

{% block content %}
<main>
    <section>
        <h2>Наша миссия</h2>
        <p>Мы стремимся предоставлять нашим клиентам лучшие услуги и поддерживать высокие стандарты качества.</p>
    </section>
    
    <section>
        <h2>Наша команда</h2>
        <p>Наша команда состоит из опытных специалистов, готовых помочь вам с любыми задачами.</p>
    </section>
    
    <section>
        <h2>История компании</h2>
        <p>Мы были основаны в 2020 году и с тех пор непрерывно развиваемся, расширяя наши услуги и клиентскую базу.</p>
    </section>
</main>
{% endblock content %}

